<!-- 04 - STACK DE TECNOLOGIA E PARCEIROS -->
<section id="parcerias" class="pt-12 pb-8 border-y border-white/5 bg-white/[0.01] overflow-hidden">
    <div class="partners-carousel-container relative mb-6">
        <div class="partners-carousel-track">
            <!-- Set 1 -->
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/digitalocean.svg" alt="DigitalOcean"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/google-cloud.svg" alt="Google Cloud"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/google-gemini.svg" alt="Google Gemini"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/hibp.svg" alt="HIBP"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/hostinger.svg" alt="Hostinger"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/mailchimp.svg" alt="Mailchimp"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/meta.svg" alt="Meta"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/mysql.svg" alt="MySQL"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/onlyoffice.svg" alt="OnlyOffice"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/symantec.svg" alt="Symantec"></div>
            <!-- Set 2 -->
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/digitalocean.svg" alt="DigitalOcean"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/google-cloud.svg" alt="Google Cloud"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/google-gemini.svg" alt="Google Gemini"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/hibp.svg" alt="HIBP"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/hostinger.svg" alt="Hostinger"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/mailchimp.svg" alt="Mailchimp"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/meta.svg" alt="Meta"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/mysql.svg" alt="MySQL"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/onlyoffice.svg" alt="OnlyOffice"></div>
            <div class="partner-logo-item"><img src="{{ CDN_URL }}partners/2026/02/symantec.svg" alt="Symantec"></div>
        </div>
    </div>
    <div class="container mx-auto px-6 text-center">
        <p class="text-[9px] text-[#00F2FF]/40 font-black uppercase tracking-[5px]">Stack de Tecnologia & Parceiros</p>
    </div>
</section>
